mat-drawer {
    width: 326px;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 1.25rem;
}

.groups-title {
    font-size: 1.25rem;
    margin-bottom: 2.7rem;
}

mat-drawer button {
    width: 100%;
}

mat-drawer-content {
    overflow-y: scroll;
    padding: 20px 40px; 
}

mat-drawer-content button[mat-fab] {
    position: fixed;
    right: 10px;
    bottom: 10px; 
}

.questions-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.welcome {
    font-size: 1.25rem;
    padding: 0px;
    margin: 0px; 
}

.top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.75rem;
}

