<mat-drawer-container class="example-container" style="min-height: 100vh">
    <mat-drawer mode="side" opened>
        <p class="mat-subheading-1">Bienvenido, {{userName}}</p>
        <p class="mat-subheading-2">Grupos</p>
        <button mat-stroked-button color="primary" (click)="createGroup()">Nuevo grupo</button>
        <mat-nav-list>
            <a mat-list-item *ngFor="let grupo of grupos" (click)="showGroupQuizzes(grupo.groupId)"> {{ grupo.name  }} </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content style="max-height: 100vh">
        <div class="container-preguntas">
            <ng-container *ngFor="let cuestionario of cuestionarios">
                <mat-card>
                    <mat-card-title class="mat-subheading-2">{{ cuestionario?.name }}</mat-card-title>
                    <mat-card-subtitle>{{ 10 }} pregunta(s)</mat-card-subtitle>
                    <mat-card-actions align="end">
                        <button mat-stroked-button color="primary">Iniciar sala</button>
                    </mat-card-actions>
                </mat-card>
            </ng-container>
        </div>
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>add</mat-icon>
        </button>
    </mat-drawer-content>
</mat-drawer-container>