main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 36px;
}

main mat-card {
    width: 420px;
}

mat-form-field {
    width: 100%;
}