<div class="container">
    <div>
        <h1>{{quizzRoom?.quizz?.name}}</h1>
        <h2>{{quizzRoom?.question?.question}}</h2>
    </div>
    <ul>
        <li *ngFor="let answer of answers">{{answer[1]}}</li>
    </ul>
    <div class="footer">
        <p>Respuestas 10/12</p>
        <button mat-raised-button color="primary" *ngIf="currentQuestion != quizz?.questions?.length" (click)="setQuestion()">Continuar</button>
        <button mat-raised-button color="primary" *ngIf="currentQuestion == quizz?.questions?.length" (click)="finishQuizzRoom()">Finalizar</button>
    </div>
</div>