<div class="container">
    <div>
        <h1>Preguntas de cultura general</h1>
        <h2>¿Quién es el autor de la frase "Pienso, luego existo"?</h2>
    </div>
    <ul>
        <li>Respueta 1: Lorem ipsum dolor sit amet</li>
        <li>Respueta 2: Lorem ipsum dolor sit amet</li>
        <li>Respueta 3: Lorem ipsum dolor sit amet</li>
        <li>Respueta 4: Lorem ipsum dolor sit amet</li>
    </ul>
    <div class="footer">
        <p>Respuestas 10/12</p>
        <button mat-raised-button color="primary">Continuar</button>
    </div>
</div>