.nuevo-cuestionario {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    margin-top: 80px;
    margin-left: 240px;
}

p {
    font-size: 36px;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    width: 724px;
}